<header th:insert="components/headerWrapper::headerWrapper"></header>
<div
             class="card m-3"
            style="width: 18rem;">
            <div class=\"card-body\">
                    <h5 class="card-title" th:text="${book.title}"></h5>
                    <h5
                            class="card-subtitle mb-2 text-muted"
                            th:text="${book.isbn}"></h5>
                    <h6
                            class="card-subtitle mb-2 text-muted"
                            th:text="${book.author}"
                    ></h6>
               </div>
        </div>
    </div>
</div>
<footer th:insert="components/footerWrapper::footerWrapper"></footer>