<header th:insert="components/headerWrapper::headerWrapper"></header>
<header th:insert="components/navbar::navbar"/>

<div class="m-3">
<div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input name ="username"
           type="string"
           class="form-control"
           id="username" >
</div>
<div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input name ="password"
           type="string"
           class="form-control"
           id="password" >
</div>
<button id = "add-user"
        type="submit"
        class="btn btn-outline-success mx-auto">Регістрація</button>
<button id = "login"
        type="submit"
        class="btn btn-outline-success mx-auto">Вхід</button>
</div>
<footer th:insert="components/footerWrapper::footerWrapper"></footer>